* {
  box-sizing: border-box;
}

.box {
  width: 700px;
  background: linear-gradient(to bottom right, #FFF, #FFC778);
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}


.box__img {
 /* width: 200px; */
 height: 200px;
 border-radius: 50%;
 border: 1px solid gray;
 background: #eee;
 min-width: 200px;
 /* 200より縮まらない */
 margin-right: 20px;
 overflow: hidden;
}

.box__img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.box__content-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.box__content-text {
  line-height: 1.6;
}

@media screen and (max-width:768px) {
  .box {
    width: 90%;
    display: block;
  }

  .box__img{
    min-width: inherit;
    width: 200px;
    margin: 0 auto 20px;
  }

  .box__content-title{
    text-align: center;
  }
}

